<br>
<br>

<table width="30%" border=1>
	<tr>
		<td align="center" width="50%">
		<a href='/'>Home</a>
		</td>
		
		<td align="center" width="50%">
		<a href='/halls'>Facilities</a>
		</td>
	</tr>
</table>

<br>
<br>

<form action ="halls/search" method="post">
	<input name="key" type="input" />
	<input value="Search for halls" type="submit" />
</form>

<br>

<h3>
<% ('A'..'Z').each do |letter| -%>
<%= link_to letter, halls_path(:starts_with => letter) %>
<% end -%>
</h3>

<br>

<h2>Listing halls</h2>

<center>

<table border=1>
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>Address</th>
    <th>Postcode</th>
    <th>Phone</th>
    <th>Email</th>
    <th></th>
  </tr>

<% @halls.each do |hall| %>
  <tr>
    <td><%= hall.nume %></td>
    <td><%= hall.tipul %></td>
    <td><%= hall.adresa %></td>
    <td><%= hall.postcode %></td>
    <td><%= hall.phone %></td>
    <td><%= hall.email %></td>
    <td><%= link_to 'Show', hall %></td>
  </tr>
<% end %>
</table>

</center>

<br />

<%= link_to 'New Hall', new_hall_path %>

<br>

<h2>Import data</h2>
<%= form_tag import_halls_path, multipart: true do %>
	<%= file_field_tag :file %>
	<%= submit_tag "Import" %>
<%end%>

<br>
