<br>
<br>

<table width="30%" border=1>
	<tr>
		<td align="center" width="50%">
		<a href='/'>Home</a>
		</td>
		<td align="center" width="50%">
		<a href='/halls'>Facilities</a>
		</td>
	</tr>
</table>

<br>

<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @hall.nume %>
</p>

<p>
  <b>Type:</b>
  <a href="https://www.google.com/#q=sports <%= @hall.tipul %>" target="_blank"><%= @hall.tipul %></a>
</p>

<p>
  <b>Address:</b>
  <%= @hall.adresa %>
</p>

<p>
  <b>Postcode:</b>
  <%= @hall.postcode %>
</p>

<p>
  <b>Phone:</b>
  <%= @hall.phone %>
</p>

<p>
  <b>Email:</b>
  <%= @hall.email %>
</p>

<p>
  <b>Location:</b>
  <a href='<%= @hall.locatie %>' target="_blank"><%= @hall.locatie %></a>
</p>

<p>
  <b>Image:</b>
  <br>
  <img src='<%= @hall.poza %>'/ alt="No Image">
</p>


<p>
  <b>Description:</b>
  <%= @hall.descriere %>
</p>

<p>
  <b>Features:</b>
  <%= @hall.features %>
</p>

<br>

<%= link_to 'Back', halls_path %>
